/*external stylesheet for practice*/

h1{
    text-align: center;
    letter-spacing: .5em;
    word-spacing: .2em;
    font-family: 'Roboto', serif;
}
h2{
    font-family: myFont;
    text-align: center;
    letter-spacing: .3em;
    word-spacing: .1em;
}
h1, h2, h3, h4{
    color: navy;
}
header{
    background-color: rgba(65, 66, 255, .8);
}
nav ul {
    list-style-type: none;
}
nav li{
    background-color: navy;
    width: 70%;
    padding: .5em;
    border-bottom: 1px white solid;
}
nav a{
    text-decoration: none;
    font-size:  1.1em;
}
nav a:link{
    color: white;
}
nav a:visited{
    color: yellow;
}
nav a:hover{
    color: goldenrod;
}
#wrapper{
    width: 90%;
    height: auto;
    background-color: rgb(202, 214, 255);
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}
body{
    background-color: rgb(204, 255, 179);
    font-size: 16px;
    font-family: "Bookman Old Style", Garamond, Georgia, serif
}
.fav{
    color: purple;
    font-weight: bolder;
}
@font-face {
    font-family: myFont;
    src: url(font.ttf);
}
