*{
   box-sizing: border-box;
}
.wrapper{
   width: 95%;
   margin-right: auto;
   margin-left: auto;
   display : block;

 }
 .wrapper::after{
    content: " ";
    clear: both;
    display: block;
 }
 .top {
   display: inline-block;
   vertical-align: top;
}
.middle{
   display: inline-block;
   vertical-align: middle;
}
.bottom {
   display: inline-block;
   vertical-align: bottom;
}
 .col1{
    width: 25%;
    float: left;
    padding: 1em;
 }
 .col2{
    width: 25%;
    float: left;
    padding: 1em;
 }
 .col3{
    width: 25%;
    float: left;
    padding: 1em;
 }
