/*external stylesheet for practice*/
main{
    color: lightblue
}
h1{
    text-align: center;
    letter-spacing: .5em;
    word-spacing: .2em;
}
h2{
    text-align: center;
    letter-spacing: .3em;
    word-spacing: .1em;
}
nav ul {
    list-style-type: none;
}
nav li{
    width: 70%;
    padding: .5em;
    border-bottom: 1px darkblue;
}
nav a{
    text-decoration: none;
    font-size:  1.1em;
}
nav a:link{
    color: white;
}
nav a:visited{
    color: darkblue;
}
nav a:hover{
    color: red;
}
#wrapper{
    width: 90%;
    height: auto;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(204, 255, 179);

}
body{
    background-color: rgb(204, 255, 179);
    font-size: 16px;
    font-family: "Bookman Old Style", Garamond, Georgia, serif
}


